---
BasedOnStyle: LLVM
IndentWidth: 2
ContinuationIndentWidth: 2
ColumnLimit: 100
BreakAfterReturnType: None
PenaltyReturnTypeOnItsOwnLine: 1000000
BinPackParameters: true
AlignAfterOpenBracket: BlockIndent
BreakTemplateDeclarations: Yes