---
name: Test

on:
  push:
    branches: [ main ]
    paths-ignore:
      - "**.md"
      - "LICENSE"
      - ".gitignore"
      - ".editorconfig"
  pull_request:
    branches: [ "**" ]
    paths-ignore:
      - "**.md"
      - "LICENSE"
      - ".gitignore"
      - ".editorconfig"

env:
  spm-build-options: -Xswiftc -enable-testing --explicit-target-dependency-import-check error
  spm-test-options: --parallel
  swift-version: '6.1'

jobs:
  dev-container:
    name: "Dev container: ${{ matrix.cmake_build_type }}"
    strategy:
      fail-fast: false
      matrix:
        cmake_build_type: [Debug, Release]

        include:
          - spm_configuration: debug
            cmake_build_type: Debug
            more-spm-test-options: --enable-code-coverage
            HYLO_LLVM_BUILD_TYPE: Debug

          - spm_configuration: release
            cmake_build_type: Release
            HYLO_LLVM_BUILD_TYPE: MinSizeRel

    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
        show-progress: false

    - name: Build and run via CMake
      uses: devcontainers/ci@v0.3
      env:
        HYLO_LLVM_BUILD_TYPE: ${{ matrix.HYLO_LLVM_BUILD_TYPE }}
      with:
        runCmd: >
          set -exu # fail fast, print commands before executing, treat unset variables as an error

          LLVM_DIR="$(llvm-config --prefix)/lib/cmake/llvm"

          [ -f "$LLVM_DIR/LLVMConfig.cmake" ] || 
          (echo "LLVMConfig.cmake not found in '$LLVM_DIR'. Available files are:"; 
          ls "$LLVM_DIR"; 
          exit 1)

          cmake -GNinja -S . -B .cmake-build
          -DCMAKE_BUILD_TYPE=${{ matrix.cmake_build_type }}
          -DBUILD_TESTING=YES -DLLVM_DIR="$LLVM_DIR"

          cmake --build .cmake-build

          ctest --output-on-failure --parallel --test-dir .cmake-build
        push: never

    - name: Build and run via SPM
      uses: devcontainers/ci@v0.3
      env:
        HYLO_LLVM_BUILD_TYPE: ${{ matrix.HYLO_LLVM_BUILD_TYPE }}
      with:
        runCmd: swift test --parallel -c ${{ matrix.spm_configuration }}
        push: never

   

  native:
    name: "Native: ${{ matrix.os }}/${{ matrix.spm_configuration }}/${{ matrix.cmake_generator }}"
    strategy:
      fail-fast: false
      matrix:
        os: [macos-14, ubuntu-22.04, windows-2025]
        spm_configuration: [debug, release]
        cmake_generator: [Ninja] # TODO: add back XCode generator after switching to macos-15: https://github.com/hylo-lang/hylo/issues/1730

        exclude:
          - os: ubuntu-22.04
            cmake_generator: Xcode
          - os: windows-2025
            cmake_generator: Xcode

        include:
          - HYLO_LLVM_BUILD_RELEASE: 20250910-063105
          - HYLO_LLVM_VERSION: '20.1.6'
          - triple_cpu: x86_64

          - os: windows-2025
            triple_suffix: unknown-windows-msvc17

          - os: macos-14
            triple_suffix: apple-darwin24.1.0
            triple_cpu: arm64

          - os: ubuntu-22.04
            triple_suffix: unknown-linux-gnu

          - spm_configuration: debug
            cmake_build_type: Debug
            HYLO_LLVM_BUILD_TYPE: Debug

          - spm_configuration: release
            cmake_build_type: Release
            HYLO_LLVM_BUILD_TYPE: MinSizeRel

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true
          show-progress: false
          path: Swifty-LLVM

      - name: Set up LLVM
        uses: hylo-lang/get-llvm@io-trial

      - name: Set up latest CMake and Ninja
        uses: lukka/get-cmake@latest
        with:
          cmakeVersion: latest


      - name: Set up swift
        uses: SwiftyLab/setup-swift@latest
        with:
          swift-version: ${{ env.swift-version }}

      - name: Install Swift-compatible Visual Studio Toolchain (Windows)
        uses: compnerd/gha-setup-vsdevenv@main
        with:
          winsdk: "10.0.22621.0" # Workaround for this: https://forums.swift.org/t/swiftpm-plugin-doesnt-work-with-the-latest-visual-studio-version/78183/14
          # TL;DR: The Windows SDK had a change in 10.0.26100.0 that the Swift compiler didn't account for.
          # The Swift compiler team is aware of the issue and they are going to release a fix some time.

      - name: SPM Cache Setup
        uses: actions/cache@v4.2.4
        with:
          path: Swifty-LLVM/.build
          key: ${{ matrix.os }}-${{ matrix.spm_configuration }}-spm-${{ hashFiles('Swifty-LLVM/**/Package.resolved') || 'no-dependencies' }}
          restore-keys: |
            ${{ matrix.os }}-${{ matrix.spm_configuration }}-spm-

      - name: Build and Test via SPM
        run: swift test --parallel -v ${{ matrix.swift_test_options }} -c ${{ matrix.spm_configuration }}
        working-directory: Swifty-LLVM

      - name: Configure (CMake)
        # We explicitly point to swiftc in the PATH because otherwise CMake picks up the one in XCode.
        shell: bash
        run: >
          set -exu # fail fast, print commands before executing, treat unset variables as an error

          LLVM_DIR="$(llvm-config --prefix)/lib/cmake/llvm"

          [ -f "$LLVM_DIR/LLVMConfig.cmake" ] || 
          (echo "LLVMConfig.cmake not found in '$LLVM_DIR'. Available files are:"; 
          ls "$LLVM_DIR"; 
          exit 1)

          cmake -G '${{ matrix.cmake_generator }}'
          -S .
          -B .cmake-build
          ${{ matrix.cmake_generator != 'Xcode' && format('-DCMAKE_BUILD_TYPE={0}', matrix.cmake_build_type) || '' }}
          -DBUILD_TESTING=YES
          -DLLVM_DIR="$LLVM_DIR"
          ${{ runner.os == 'macOS' && '-DCMAKE_Swift_COMPILER=swiftc -DCMAKE_OSX_SYSROOT=$(xcrun --show-sdk-path)' || '' }}

        working-directory: Swifty-LLVM

      - name: Build (CMake)
        run: cmake --build Swifty-LLVM/.cmake-build ${{ matrix.cmake_generator == 'Xcode' && format('--config {0}', matrix.cmake_build_type) || '' }}

      - name: Test (CMake)
        run: ctest --output-on-failure --parallel --test-dir Swifty-LLVM/.cmake-build ${{ matrix.cmake_generator == 'Xcode' && format('-C {0}', matrix.cmake_build_type) || '' }}

      - name: Export Coverage
        if: ${{ contains(matrix.swift_test_options, '--enable-code-coverage') }}
        working-directory: Swifty-LLVM
        run: |
          shopt -s nullglob
          dot_os=(.build/${{ matrix.spm_configuration }}/*.build/*.o .build/${{ matrix.spm_configuration }}/*.build/**/*.o)
          bin_params=("${dot_os[0]}")
          for o in "${dot_os[@]:1}"; do
            bin_params+=("-object" "${o}")
          done
          # Note: on mac this command might require a leading xcrun.
          llvm-cov export -format="lcov" -instr-profile "$(swift test -c ${{ matrix.spm_configuration }} --show-codecov-path | xargs dirname)"/default.profdata "${bin_params[@]}" > info.lcov

      - name: Upload coverage reports to Codecov
        if: ${{ contains(matrix.swift_test_options, '--enable-code-coverage') }}
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
          directory: ${{ github.workspace }}/Swifty-LLVM
          working-directory: ${{ github.workspace }}/Swifty-LLVM
          root_dir: ${{ github.workspace }}/Swifty-LLVM
